<footer class="bg-organic-dark text-white py-12">
    <div id="support" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <h2 class="text-3xl font-serif font-bold mb-6">Støt Forslaget</h2>
        <p class="text-lg text-gray-300 max-w-2xl mx-auto mb-8">
            Dette er et borgerforslag renset for partipolitik. Det handler om sund fornuft og vores børns fremtid.
            Lad os gøre Danmark til foregangsland for ren mad.
        </p>
        <div class="flex justify-center gap-4">
            <a
                href="https://www.borgerforslag.dk/se-og-stoet-forslag/?Id=FT-22914"
                target="_blank"
                class="px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-organic-green hover:bg-organic-green-light shadow-lg transition-all"
            >
            <strong>Skriv under på borgerforslag.dk</strong>
            </a>   
        </div>
        <p class="text-lg text-gray-300 max-w-2xl mx-auto mb-8">
            &nbsp;<br/>
            Repræsenterer du en organisation, virksomhed, forening eller politisk parti, 
            der ønsker aktivt at støtte forslaget og blive nævnt her på renogfri.dk sitet?<br/>
            Så ræk ud!
        </p>
        <div class="flex justify-center gap-4">
            <a
                href="mailto:info@renogfri.dk"
                target="_blank"
                class="px-8 py-3 border border-gray-300 text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 transition-all"
                >
              Kontakt <strong><code>info@renogfri.dk</code></strong>
            </a>  
        </div>        
        <p class="mt-8 text-sm text-gray-500">
            Baseret på data fra Arla Fonden, Finansministeriet og international ernæringsforskning (NOVA). <br>
            © 2026 Bevægelsen Ren & Fri
        </p>


    </div>
</footer>



  